html {
  box-sizing: border-box;
  font-family: "Patua One", cursive;
  font-family: Georgia, serif;
  line-height: 1.5rem;
  color: #000;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  background-color: #000;
  background-image: url(../images/pano.jpg);
  background-size: cover;
  background-position: top;
  color: #fff;
  padding: 1rem;
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */

  display: contents;
}
